features/downloads/*
public/assets/*
/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*.log
/tmp
**.war
*.rbc
*.sassc
.rspec
.sass-cache
/coverage.data
/coverage/
/db/*.javadb/
/db/*.sqlite3-journal
/doc/api/
/doc/app/
/doc/features.html
/doc/specs.html
/public/cache
/public/stylesheets/compiled
/public/system
/spec/tmp/*
/cache
/capybara*
/capybara-*.html
/gems
vendor/bundle/
/rerun.txt
/specifications
**.orig
.DS_Store
/nbproject/
/*.tmpproj
**.swp
.secret
public/assets/source_maps
*.pid
log/
solr/development
solr/test
solr/default
solr/data
kill_server.sh
csv_examples/*.csv
