// #header {
//     .container {
//         width: 980px;
//     }
// }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), asset-url("reg.woff") format('woff');
}
@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), asset-url("bold.woff") format('woff');
}

.logo {
	float: left;
	font-family: 'Montserrat', sans-serif;
}

.dock {
	position: relative;
	height: 50px;
	text-align: center;
}
.dock-container {
	position: absolute;
	height: 50px;
	// background: url(images/dock-bg2.gif);
	padding-left: 20px;
}
li.dock-item {
	display: block;
	width: 40px;
	color: #000;
	position: absolute;
	top: 0px;
	list-style: none;
	text-align: center;
	text-decoration: none;
	font: bold 12px Arial, Helvetica, sans-serif;
	cursor: pointer;
}
.dock-item img {
	border: none;
	margin: 5px 10px 0px;
	width: 100%;
}
.dock-item span {
	display: none;
	padding-left: 20px;
	position: absolute;
	z-index: 1;
}

#destroy-session-icon {
	cursor: pointer;

	.fa.fa-sign-out {
		-webkit-transition: font 0.3s ease;
		-moz-transition: font 0.3s ease;
		-o-transition: font 0.3s ease;
		-ms-transition: font 0.3s ease;
	}

	.fa.fa-sign-out:hover {
	    font-size: 15px;
	}
}
