.notifications {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }

  li span {
  	    margin-left: 1pc;
  }

  li:hover {
	   	background-color: #F3FFFF;
		border-left: 1.5px solid #06F0FF;
    }
}
.content {
  display: block;
}
.timestamp {
  margin-left: 1pc;
  color: #D4D4D4;
}

