.singup-panel {
  text-align: center;
  margin-bottom: -1pc;
  margin-top: 1pc;

  .breadcrumb {
    background-color: white;
    li {
      color: #0088cc;
    }
    li.active {
      color: #999999 !important;
    }

  }
}

.owl-image {
  background: url('/images/owl.png') no-repeat;
  background-size: 100%;
  height: 13pc;
  width: 11.5pc;
}
