i.icon-list-online-status {
	background: url("/images/online-icon.png") no-repeat;
    width: 23px;
    height: 14px;
    display: inline-block;
	margin-right: 0.1pc;
}

i.icon-list-offline-status {
	background: url("/images/offline-icon.png") no-repeat;
    width: 23px;
    height: 14px;
    display: inline-block;
	margin-right: 0.1pc;
}

