/* spacing hacks form main containers */

html, body {
    height: 100%;
}

#wrap {
    height: auto !important;
    margin: 0 auto -60px;
    min-height: 100%;
}

#app-table {
	background-color: #f8f9f9;

	tr:not(#app-table-header-row):not(.last-col-invisible):hover{
		background-color: #F3FFFF;
		cursor: pointer;
		td:first-child {
			border-left: 2px solid #06F0FF;
		}
		.delete-student{
	  	visibility: visible;
	  }
	}
	.last-col-invisible {
	  border-left: 0px;
	  .delete-student{
	  	visibility: hidden;
	  }
	}
}


/* spacing for generic form elements */

#form-foot {
 margin-top: 1pc;

 div {
 	margin-top: 2pc;
 }
}

#edit-form-header {
  border-left: 5px solid #CFCFCF;
  margin-bottom: 2pc;
}

.opacity {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  	opacity: 0.4;
}