/* spacing hacks form main containers */

html, body {
    height: 100%;
}

.inline-block {
  display: inline-block;
}

#wrap {
    height: auto !important;
    margin: 0 auto -40px;
    min-height: 100%;
}

.container {
  width: 1050px;
}

label {
  cursor: default !important;
}

#app-table {
  background-color: #f8f9f9;

  tr:not(#app-table-header-row):not(.last-col-invisible):hover{
    background-color: #F3FFFF;
    cursor: pointer;
    td:first-child {
      border-left: 2px solid #06F0FF;
    }
    .delete-icon {
      visibility: visible;
    }
  }
  .last-col-invisible {
    border-left: 0px;
    .delete-icon {
      visibility: hidden;
    }
  }
}

.pagination-area {
  text-align: center;
}

.pagination-loader {
  background-size: 100%;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  vertical-align: middle;
  height: 1pc;
  width: 1pc;
  background:url('/images/loading.gif') no-repeat;
}

.sidenav.affix {
    top: 10px;
}

@media (min-width: 1200px) {
  .sidenav {
      width: 248px;
      margin-right: 1pc;
  }
  .sidenav {
      width: 218px;
      margin: 10px 0 0;
      padding: 0;
      background-color: #fff;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
      -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
      box-shadow: 0 1px 4px rgba(0,0,0,.065);
  }
  .affix {
    position: fixed;
  }
}

/* spacing for generic form elements */

#search-region {
  margin-top: 2pc;
}

#form-foot {
 margin-top: 0.5pc;

 div {
  margin-top: 1pc;
 }
}

#edit-form-header {
  border-left: 5px solid #CFCFCF;
  margin-bottom: 0.4pc;
}

.opacity {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
}

.scroll-hor-wrapper {
  overflow-x: scroll;
  white-space: nowrap;
}

.wrap-text {
  word-wrap: break-word;
}

#col-list {
  margin-left: 6pc;

  li {
    margin-left: 1pc
  }
  li:hover {
    text-decoration: underline;
  }
}

#title-region {
  margin-bottom: 1pc;

  p.text-info,small.text-info {
    color: #58585A !important;
  }
}

.well {
  p.text-info,small.text-info {
    color: #999999 !important;
  }
}

#form-content-region {
  li:not(.disabled) a:hover {
    text-decoration: underline;
  }
}

.RETROtxt {
  color: #707070;
  text-shadow: 4px 4px 0 #eee,6px 7px 0 #707070;
  font-family: League Gothic,"league-gothic",sans-serif;
  font-size: 75px;
}

.copy {
  margin-top: 1pc;
  font: 1.2em Georgia, Serif;
  text-align: justify;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
}
.copy p {
  margin: 0 0 1em 0;
}

/* base table sorting styles */
.tablesorter {
   .header:hover {
    background-image: url("/images/bg.gif");
    background-repeat: no-repeat;
    background-position: top right;
    padding-top: 8px;
    height: auto;
    cursor: pointer;
    text-decoration: underline;
  }
  .headerSortUp:hover {
    background-image: url("/images/asc.gif");
  }
  .headerSortDown:hover {
    background-image: url("/images/desc.gif");
  }
}

.notice-icon {
  background-size: 100%;
  height: 1.1pc;
  width: 1.1pc;
  position: absolute;
  background:url('/images/notice.png') no-repeat;
  cursor: pointer;
}

.basic-loader {
  background-size: 100%;
  text-align: center;
  margin-left: 1.32pc;
  margin-right: auto;
  vertical-align: middle;

  background: url("/images/loading.gif") no-repeat;
  margin-top: 1pc;
  position: relative;
}

.basic-success {
  background-size: 100% !important;
  height: 0.8pc !important;
  width: 0.8pc !important;
  margin-left: 1.28pc;
  text-align: center;
  background: url("/images/success.png") no-repeat;
  position: relative;
}
