<div id="wrap">

    <div id="header-region"></div>
    <div class="container">
    	<div class="row">

		   <div id="sidebar-region" class="span3 sidebar">
		    <ul class="nav nav-list sidenav affix-top" data-spy="affix" data-offset-top="20">
		      <li class="header"><h3>Dashboard</h3></li>
		      <li><a href="#global"><i class="icon-chevron-right"></i> Global styles</a></li>
		      <li><a href="#gridSystem"><i class="icon-chevron-right"></i> Grid system</a></li>
		      <li><a href="#fluidGridSystem"><i class="icon-chevron-right"></i> Fluid grid system</a></li>
		      <li><a href="#layouts"><i class="icon-chevron-right"></i> Layouts</a></li>
		      <li><a href="#responsive"><i class="icon-chevron-right"></i> Responsive design</a></li>
		    </ul>
		  </div>

	    <div id="main-region" class="span9"></div>

	   </div>
	</div>

    <div id="push"></div>
</div>

<div id="footer-region"></div>



<%= javascript_tag do %>
    $(function(){

        Learnster.start({
            environment:  "<%= Rails.env %>"
         });
    })

<% end %>